<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Text utils.com</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Text utils.com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
		  <li class="nav-item">
          <a class="nav-link" href="/">contact us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" >
            Youtube
          </a>
        </li>
      </ul>
    </div>
  </div>

	   <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</nav>
   <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>wel-come</strong> now you can start .
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
  <div class="container">
<h1>your analyze text is - {{purpose}}</h1>
<p>
    <pre>{{analyzed_text}}</pre>
</p>
	  <form action="/analyze" method="get" >
  <div class="form-group">
    <label for="text area" class="form-label">Write here</label>
    <input type="text"  name="text" class="form-control" id="text area" >
    <div id="emailHelp" class="form-text">maximum 250 words</div>
  </div>
  <form action="/analyze" method="get">
        <div class="form-check form-switch">
  <input class="form-check-input" name="rmpunc" type="checkbox" id="flexSwitchCheckDefault">
  <label class="form-check-label"  for="flexSwitchCheckDefault">Remove Punctuations</label>

</div>
<div class="form-check form-switch" >
  <input class="form-check-input" name="fullcaps" type="checkbox" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">Capitalize text</label>
</div>
<div class="form-check form-switch">
  <input class="form-check-input" name="newlineremover" type="checkbox" id="flexSwitchCheckDisabled" checked>
  <label class="form-check-label" for="flexSwitchCheckDisabled">Remove New Line</label>
</div>
  </form>

  <button type="submit" class="btn btn-primary">Analyze text</button>
</form>

  </div>


  </body>
</html>