<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>template is working</title>
</head>
<body>
<h1>welcome to page were you can analyse text</h1>

<form action="/analyze" method="POST">
	<textarea name="text" style='margin: 0px; width: 1000px; height: 250px;'> </textarea><br>
	<button style="submit">analys text</button>
	<input type="checkbox" name="rmpunc"> remove punctuations<br>
	<input type="checkbox" name="fullcaps"> upper case<br>
	<input type="checkbox" name="newlineremover"> new line remover<br>
</form>

</body>
</html>
